:root {
  --button-primary: #c8a2c8;
  --text-primary: #000;
  --main-background: #fff;
  --divider-primary: #eee;
}

* {
  margin: 0;
}

[data-theme='night'] {
  --button-primary: #c8a2c8;
  --text-primary: #fff;
  --main-background: #000;
  --divider-primary: #323232;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: var(--main-background);
  color: var(--text-primary);
}

.main-container header {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-container header button {

}

.btn {
  border-radius: 50px;
  padding: 0 15px;
  cursor: pointer;
}

.btn.primary  {
  border: none;
  color: #fff;
  font-weight: bolder;
  background-color: var(--button-primary);
}

.btn.secundary  {
  border: 1px solid var(--button-primary);
  font-weight: bolder;
  background-color: #fff;
}

.post-card{
  width: 500px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px var(--divider-primary) solid;
  cursor: pointer;
}

.post-card:first-child {
  border-top: 1px var(--divider-primary) solid;
}


.post-preview-content {
  padding-right: 20px;
}


.post-author{
  display: flex;
  margin-top: 15px;
}

.post-title{
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.author-avatar {
  width: 20px;
}

.post-body p {
  width: 380px;
}

.post-body p:nth-child(2) {
  /* não quebra o texto, deixando em uma única linha */
  white-space: nowrap;
  /* não permite que "dê scroll" */
  overflow: hidden;
  /* cropa o texto em função do tamanho do container, e adiciona reticências */
  text-overflow: ellipsis;
}

.fullscreen-post {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  border: 2px solid var(--button-primary);
  z-index: 99;
}
