:root {
  --button-primary: #c8a2c8;
  --text-primary: #000;
  --main-background: #fff;
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-background);
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container header {
  width: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.main-container header button {
border-radius: 50px;
border: none;
padding: 0 15px;
color: #fff;
font-weight: bolder;
background-color: var(--button-primary);
}

.post-card{
  width: 500px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.post-preview-content {
  padding-right: 20px;
}


.post-author{
  display: flex;
  margin-top: 15px;
}

.author-avatar {
  width: 25px;
}

.post-body p {
  width: 380px;
}

.post-body p:nth-child(2) {
  /* não quebra o texto, deixando em uma única linha */
  white-space: nowrap;
  /* não permite que "dê scroll" */
  overflow: hidden;
  /* cropa o texto em função do tamanho do container, e adiciona reticências */
  text-overflow: ellipsis;
}

.post-title{
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}


.missing-the-currents-image{
  width: 200px; 
}

